.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.excalidraw-container {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.excalidraw-container > div {
  height: 100%;
}

